@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|IM+Fell+English|VT323&display=swap');

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

* {
    box-shadow:
      4px 4px 12px 1px black, /* to indent the green bottom line with the same color as the background */
      inset 1px 3px 20px 5px black,  /* to create a bottom 3px high green line */
      inset 0 0 50px 50px tan,  /* to create a bottom 3px high green line */
      inset 1px 0 5px 5px gray; /* to create the top (1px) of the outline */
  background-color: #ebd5b3;
  background-blend-mode: color-burn;
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

h1 {
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h2 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h3 {
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}

.butt-group {
  align-items: center;
}

.butt-group button {
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}

/* Clear floats (clearfix hack) */
.butt-group:after {
  content: "";
  clear: both;
  display: table;
}

.butt-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.butt-group button:hover {
  background-color: black;
}

.butt {
   border: 0.45px outset gray;
   background-color: tan;
   height:175px;
   width:33%;
   cursor:pointer;
}

.butt:hover {
   background-color: black;
   color:white;
}

.space {
  font-family: 'VT323', monospace;
}

.cursive {
  font-family: 'Homemade Apple', cursive;
}

.serif {
  padding-left: 6px;
  font-family: 'IM Fell English', serif;
}

.drop-cap::first-letter {
  color: black;
  text-decoration: line-through wavy black;
  font-size: 3em;
  padding-bottom: 0%;
  margin-right: 0.5%;
  background: #839485;
  box-shadow:
    0 0 0px 3px black, /* to indent the green bottom line with the same color as the background */
    0 0 0px 3px black, /* to indent the green bottom line with the same color as the background */
    0 0 0 1px tan,  /* to create a bottom 3px high green line */
    0 0 1px 1px tan,  /* to create a bottom 3px high green line */
    inset 1px 0 1px 5px black; /* to create the top (1px) of the outline */
}

.App {
  text-align: left;
  padding-left: 6px;
}

.App-logo {
  height: 40vmin;
}

.App-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #4f7c40;
}
